openai==1.79.0
pm4py==2.7.12.4
matplotlib==3.9.2
networkx==3.3
openai==1.79.0
pandas==2.2.3
pydotplus==2.0.2
python_Levenshtein==0.27.1
six==1.16.0
lxml
requests
flask
openpyxl
pyyaml
tqdm
scikit-learn
scipy
altair
